<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-12">
        <ul class="contact-list">
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">mailto: {{ site.email }}</a></li>
          {%- endif -%}

          {%- if site.repo -%}
          <li><a href="{{ site.repo.url }}">{{ site.repo.text }}</a></li>
          {%- endif -%}
        </ul>
      </div>
    </div>
    {%- if site.license -%}
    <div class="center small">
      <a href="{{ site.license.url }}">{{ site.license.text }}</a>
    </div>
    {%- endif -%}
  </div>
</footer>